# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xtfyzbnulieowcifidxz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0Znl6Ym51bGllb3djaWZpZHh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ1MDM3OTcsImV4cCI6MjA3MDA3OTc5N30.ZGqxs_qnucnO9xmvs6q1eG2QLPRz-mw6cBE_6Kvs2-8